.idea/
.kreuzberg/
.pdf_cache/
public/
target/
.venv/
*.zip
*.7z
*.tar.gz
*.pdf
*.log
local-config.toml
__pycache__/
.pytest_cache/

**/**/.env
oapi-generator/
oapicode/
www/
temp/
database/tests/*_dump.json
locallogs/
.kreuzberg/
